.messages{
	font-family: Arial, Helvetica, sans-serif;
	display: grid;
	grid-template-columns: 2fr 10fr;
}

.chats{
	padding: 10px;
}

.dialogs{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.dialogsItem{
	margin: 10px;
	width: 600px;
	height: 280px;
	overflow-y: scroll;
}

.sendMessage{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	padding: 0px 30px;
}

.textMessage{
	width: 400px;
	resize: none;
	outline: #BC9CFF;
	border-radius: 5px;
	border: 2px solid #BC9CFF;
	margin: 0 0 5px 0;
}

.sendBtn{
	color: #ffff;
    padding: 5px 15px;
	border: none;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	margin: 10px 0px;
}

.sendBtn:hover{
	opacity: 0.5;
	color: rgba(31, 32, 65, 0.5);
}

.sendBtn:active{
	padding: 3px 13px;
	border: 2px solid #BC9CFF;
	background: #fff;
	color: #BC9CFF;
}