.profile {
	display: flex;
	justify-content: start;
}

.avatarPhoto{
	margin: 5px 20px 5px 5px;
	border: 1px solid #8BA4F9;
	border-radius: 10px;
}

.fullName{
	display: block;
	margin-bottom: 10px;
	font-size: 25px;
	font-weight: bold;
}

.aboutMe{
	display: block;
	margin: 0 0 20px 0;
	font-size: small;
}

.contacts a{
	text-decoration: none;
	color: #111;
	transition: 0.5s;
}

.contacts a:hover {
	color: #BC9CFF;
}