.wrapper {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr 10fr;
  grid-template-areas: 'header header'
  'side profile';
}